<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>有个小院 - 兴趣编程 Node.js 入门学习案例</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="/styles.min.css">
  </link>
</head>

<body>
  <header class="top">
    <nav class="nav">
      <div class="nav__section nav__section--pages">
        <ul>
          <li class="nav__item">
            <a class="nav__link nav__link--logo" href="/" aria-label="Home Page">主页</a>
          </li>
          <li class="nav__item">
            <a class="nav__link nav__link--logo" href="/nodeBeginner">
              Node.js 编程</a>
          </li>
          <li class="nav__item">
            <a class="nav__link nav__link--logo" href="/expressBeginner">Express 框架</a>
          </li>
          <li class="nav__item">
            <a class="nav__link nav__link--logo" href="/dependencies">本站依赖</a>
          </li>
        </ul>
      </div>

    </nav>
  </header>
  <div class="content">
    {{{body}}}
  </div>
  <footer class="" id="footer" role="contentinfo">
    <span>有个小院 - 兴趣编程 </span>
  </footer>
</body>

</html>