<h2 class="landing landing__api-title">
  <img src="/secured.svg" />
  Node.js 编程入门
  <img src="/secured.svg" />
</h2>
<div class="center">
  API路径: <a class="api-link" href="/api/node_beginner" target="_blank" rel="noopener">
    /api/node_beginner</a>
</div>

<div class="json">
  <pre>
        <code style="color: blue;" > {{msg}} </code>
        <div>
<a href="http://dev.nodejs.cn/learn"  target="_blank" rel="noopener"  style="text-decoration: underline">Node.js 中文官方教程</a>
        </div>
        <div>
        <a href="https://roadmap.sh/nodejs"  target="_blank" rel="noopener"  style="text-decoration: underline">Node.js Roadmap 学习路径</a>
    </div>
    </pre>
</div>